---
// import USEnglishIcon from "./languages/USEnglishIcon.astro";
// import ESSpanishIcon from "./languages/ESSpanishIcon.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const LANGUAGES = [
	{
		name: "English",
		location: "United States",
		icon: "🇺🇸",
		code: "en",
	},
	{
		name: "Español",
		location: "España",
		icon: "🇪🇸",
		code: "es",
	},
];

interface props {
	showName?: boolean;
	showLocation?: boolean;
}

const { showName, showLocation } = Astro.props;
---

<div
	class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse"
>
	<script
		src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"
	></script>
	<!-- Default language -->
	<button
		type="button"
		data-dropdown-toggle="language-dropdown-menu"
		class="inline-flex items-center font-medium justify-center text-sm rounded-lg cursor-pointer"
	>
		{
			LANGUAGES.filter((v, i) => v.code === lang).map((language) => (
				<>
					<span class="text-2xl">{language.icon}</span>
					{showName && (
						<span class="hidden md:block">{language.name}</span>
					)}
					{showLocation && (
						<span class="hidden lg:block">
							&nbsp; ({language.location})
						</span>
					)}
				</>
			))
		}
	</button>
	<!-- Dropdown -->
	<div
		class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700"
		id="language-dropdown-menu"
	>
		<ul class="py-2 font-medium" role="none">
			{
				LANGUAGES.map((language) => (
					<li>
						<a
							href="#"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
							role="menuitem"
						>
							<div class="inline-flex items-center">
								<span class="text-2xl">{language.icon}</span>
								{showName && (
									<span class="hidden md:block">
										{language.name}
									</span>
								)}
								{showLocation && (
									<span class="hidden lg:block">
										&nbsp; ({language.location})
									</span>
								)}
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
