---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import LinkButton from "./LinkButton.astro";
import SocialPill from "./SocialPill.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface project {
	title: string;
	description: string;
	link?: string;
	github?: string;
	image: string;
	tags: {
		name: string;
		class: string;
		icon: any;
	}[];
}
---

{
	(t("projects") as unknown as project[]).map(
		({ title, description, link, github, image, tags }, index) => (
			<article>
				<div
					class={`
                    group
                    shadow-2xl shadow-black/20 
                    lg:ml-10 lg:-mr-10
                    w-full
                    rounded
                    overflow-hidden
                    md:hover:scale-105
                    duration-300
                    transition
                    `}
				>
					<img
						class={`
                        md:group-hover:scale-110
                        transition
                        duration-300
                        `}
						src={image}
						alt={`Captura de pantalla del proyecto ${title}`}
					/>
				</div>
				<div
					class={`
                bg-[#d4cfdf]/70 dark:bg-[#1c1b22]/80  
                backdrop-blur-sm 
                lg:shadow-lg lg:shadow-[rgba(31,38,135,0.37)] 
                lg:border lg:border-white/5 rounded-lg 
                p-4
                lg:-ml-10 lg:mr-10 lg:-mt-20 lg:mb-20
                `}
				>
					<h3 class="text-2xl font-semibold text-purple-900 dark:text-yellow-200 mb-2">
						{title}
					</h3>
					<ul class="flex gap-x-2 flex-row mb-4">
						{tags.map((tag) => (
							<li>
								<span
									class={`flex items-center gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}
								>
									<tag.icon class="size-4" />
									{tag.name}
								</span>
							</li>
						))}
					</ul>
					<p class="text-black dark:text-gray-400 text-pretty mb-4">
						{description}
					</p>
					<div>
						{link && (
							<LinkButton href={link} class="me-4">
								<LinkIcon />
								{t("projects.links.preview")}
							</LinkButton>
						)}
						{github && (
							<LinkButton href={github}>
								<GitHubIcon />
								{t("projects.links.github")}
							</LinkButton>
						)}
					</div>
				</div>
			</article>
		)
	)
}
